@tailwind base;
@tailwind components;
@tailwind utilities;

@import './vendor/reset';
@import './variables/variables';

body,
:root,
#root {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: $primaryBG;
  color: $textColor;
  font-family: 'JetBrains Mono', monospace;
  min-height: 100vh;
}

.button-primary {
  @apply bg-buttonBG rounded-md px-4 py-1 border-[2px] border-solid border-buttonBG text-lg text-buttonText hover:bg-secondaryBG hover:text-buttonBG;
}

.input {
  @apply rounded-md pl-3 py-2 bg-inputBG text-textColor placeholder:text-placeholder focus:outline-buttonBG;
}

.document-container button {
  opacity: 0;
}

.document-container:hover {
  button {
    transition: opacity;
    transition-duration: 1000ms;
    opacity: 1;
  }
}
